@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container{
    width: 80%;
    margin: 0 auto;
}
/* Header Section */
header{
    height: 100vh;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(45, 45, 45, 1), rgb(17, 17, 17) 100%);
}
nav{
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo h3{
    font-size: 36px;
    font-weight: 800;
    color: rgb(230, 83, 60);
    font-style: italic;
}
.menu{
    display: flex;
    align-items: center;
    gap: 30px;
    height: 40px;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
.menu > div{
    background-color: transparent;
    transition-duration: 0.3s;
}
.menu > div :hover {
    border-radius: 46px;
    background-color: rgb(230, 83, 60);
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding: 8px 20px;
}
.toggle{
    display: none;
}
.hero{
    height: 70vh;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.hero-text{
    margin-top: 10vh;
    width: 540px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.hero-title{
    font-size: 78px;
    font-weight: 900;
    color: #ffff;
    line-height: 100%;
}
.hero-title span{
    font-family: 'Miama', sans-serif;
    font-size: 140px;
    font-weight: 400;
}
.hero-description{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}
.hero-btn{
    display: flex;
    gap: 14px;
}
.hero-btn-1{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: 2px solid rgb(230, 83, 60);
    color: #ffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    transition: 0.3s;
}
.hero-btn-1:hover{
    background: transparent;
    border: 2px solid #ffff;
}
.hero-btn-2{
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: transparent;
    border: 2px solid #ffff;
    color: #ffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    transition: 0.3s;
}
.hero-btn-2:hover{
    background: rgb(230, 83, 60);
    border: 2px solid rgb(230, 83, 60);
}
.hero-img{
    height: 80vh;
    width: 100%;
    background: url('./images/Images\ 2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
}
.hero-point-1{
    position: absolute;
    width: 193px;
    height: 98px;
    left: 80%;
    top: 30%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding: 17px 24px;
}
.hero-point-1 h2{
    text-align: left;
    color: #ffff;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
}
.hero-point-1 p{
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.65);
}
.hero-point-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: absolute;
    width: 206px;
    height: 96px;
    left: 50%;
    top: 75%;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}
.circle{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(230, 83, 60);
    border-radius: 50%;
}
.hero-point-2 h2{
    color: #ffff;
    font-size: 24px;
    font-weight: 900;
}
.hero-point-2 p{
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.65);
}

/* Header Mobile Version */
@media screen and (max-width: 576px) {
    .container{
        width: 90%;
    }
    header{
        height: 985px;
    }
    .menu{
        display: none;
    }
    .toggle{
        display: block;
    }
    .hero{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 850px;
    }
    .hero-img{
        height: 500px;
        width: 100%;
        background-position: 70%;
    }
    .hero-text{
        width: 100%;
        margin-top: 0;
    }
    .hero-title{
        font-size: 48px;
        font-weight: 900;
        width: 280px;
    }
    .hero-text p{
        width: 280px;
    }
    .hero-title span{
        font-size: 46px;
        font-weight: 400;
    }
    .hero-btn-1, .hero-btn-2{
        width: 180px;
    }
    .hero-point-1{
        position: relative;
        left: 65%;
        top: 10%;
        width: 145.91px;
        height: 74.09px;
    }
    .hero-point-2{
        position: relative;
        left: 0;
        top: 40%;
        width: 145.91px;
        height: 74.09px;
    }
    .hero-point-1 h2{
        font-size: 30px;
        line-height: 30.24px;
    }
    .hero-point-1 p{
        font-size: 9px;
    }
    .hero-point-2 h2{
        font-size: 18.14px;
        font-weight: 900;
        
    }
    .hero-point-2 p{
        line-height: 18.14px;
    }
  }

/* Habit Section */
.habit-section {
    background-color: black;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-title h1{
    color: #ffff;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
}
.section-title p{
    color: rgba(255, 255, 255, 0.5);;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 14px;
}
.habits{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.habits div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.habits img{
    border-radius: 50%;
}
.habits h3{
    margin-top: 30px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}
.habits p{
    margin-top: 6px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    width: 231px;
    text-align: center;
}
/* MObile Responsive */
@media screen and (max-width: 576px) {
    .habit-section{
        height: auto;
    }
    .section-title h1{
        font-size: 32px;
        margin-top: 48px;
    }
    .section-title p{
        font-size: 14px;
    }
    .habits{
        flex-direction: column;
        gap: 36px;
    }
}

/* Run Section */
main{
    background-color: black;
}
.run-div{
    border-radius: 18px;
    background: rgb(34, 34, 34);
    height: 380px;
    width: 100%;
    padding: 32px;
    display: flex;
    justify-content: space-between;
}
.run-title{
    margin-left: 24px;
}
.run-title h1{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
}
.run-img{
    width: 400px;
    height: 312px;
    border-radius: 18px;
    background-image: url('./images/run.jpg');
    background-position: 65% 30%;
}

.run-title p{
    margin-top: 14px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 443px;
}
.run-title button{
    margin-top: 34px;
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: 2px solid rgb(230, 83, 60);
    color: #ffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    transition: 0.3s;
}
.run-title button:hover{
    background: transparent;
    border: 2px solid #ffff;
}
/* Mobile Version */
@media screen and (max-width: 576px){
    .run-div{
        margin-top: 60px;
        height: 540px;
        flex-direction: column;
        gap: 30px;
     }
     .run-title{
        margin-left: 0px;
    }
    .run-title h1{
        font-size: 32px;
        font-weight: 900;
        line-height: 120%;
    }
    .run-title p{
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        width: 100%;
    }
    .run-img{
        width: 100%;
        height: 100%;
        border-radius: 18px;
        background-image: url('./images/run.jpg');
        background-size: contain;
        background-size: cover;
    }
    .run-title button{
        margin-top: 24px;
        width: 100%;
        height: 54px;
    }
}

/* BMI Calculator */

.bmi-title{
    width: 671px;
    height: 119px;
    margin: 80px auto;
}
.bmi-title h1{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}
.bmi-title p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 14px;
}
.bmi-calculator-section{
    background: #222;
    height: 490px;
    padding: 50px 0;
}
.bmi-calculator{
    display: flex;
    justify-content: space-between ;
}
.bmi-chart h1{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
}
.bmi-chart table{
    margin-top: 52px;
}
.bmi-chart table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}
.bmi-chart th, td{
    width: 150px;
    height: 48px;
}
.bmi-chart th, td{
    padding-left: 18px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}
.bmi-chart th{
    font-size: 16px;
    font-weight: 500;
    color: #ffff;
}
.bmi-chart td{
    font-size: 14px;
    font-weight: 400;
}
.bmi-form{
    width: 577px;
    height: 386px;
}
.bmi-form h1{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
}
.bmi-form p{
    margin-top: 14px;
    margin-bottom: 34px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}
.bmi-1{
    display: flex;
    gap: 14px;
}
.bmi-2{
    margin-top: 14px;
    display: flex;
    gap: 14px;
}
.bmi-form form input, select{
    width: 282.5px;
    height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
}
.bmi-form form select option{
    color: rgba(255, 255, 255, 0.6);
}
.bmi-form form .activity{
    width: 100%;
    height: 48px;
    margin-top: 14px;
}
.bmi-btn button{
    margin-top: 34px;
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: 2px solid rgb(230, 83, 60);
    color: #ffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    transition: 0.3s;
}
.bmi-btn button:hover{
    background: transparent;
    border: 2px solid #ffff;
}

/* Mobile Version */
@media screen and (max-width: 576px){
    .bmi-calculator-section{
        height: auto;
    }
    .bmi-calculator{
        flex-direction: column;
        gap: 42px;
    }
    .bmi-title{
        width: 100%;
        margin-bottom: 0;
    }
    .bmi-title h1{
        font-size: 32px;
    }
    .bmi-title p{
        width: 100%;
    }
    .bmi-form{
        height: auto;
        width: auto;
    }
    .bmi-form form input, select{
        width: 50%;
    }
    .bmi-chart h1, .bmi-form h1{
        font-size: 16px;
        font-weight: 900;
    }
    .bmi-chart table{
        margin-top: 24px;
    }
}

/* Team Section */
.meet-team{
    padding-bottom: 80px;
}
.team-title h1{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-top: 80px;
}
.team-title p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 14px;
    text-align: center;
}
.teams{
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin-top: 58px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.team-item{
    height: 272px;
    border-radius: 18px; 
    padding: 20px;
    
    display: flex;
    justify-content: start;
    align-items: end;
}
.team-item h2{
    color: #ffff;
    font-size: 20px;
    font-weight: 700;
}
.team-item p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
}
.item-1{
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.4)), url('./images/trainer1.png');
    background-size: cover;
    background-position: center center;
}
.item-2{
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.4)), url('./images/trainer2.png');
    background-size: cover;
    background-position: center center;
}
.item-3{
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.4)), url('./images/trainer3.png');
    background-size: cover;
    background-position: center center;
}
.item-4{
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.4)), url('./images/trainer4.png');
    background-size: cover;
    background-position: center center;
}
.item-5{
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.4)), url('./images/trainer5.png');
    background-size: cover;
    background-position: center center;
}
.item-6{
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.4)), url('./images/trainer6.png');
    background-size: cover;
    background-position: center center;
}
/* Mobile Version */
@media screen and (max-width: 576px){
    .team-title h1{
        font-size: 32px;
    }
    .teams{
        grid-template-columns: repeat(1, 1fr);
    }
}
/* Get in Touch */
.contact-section{
    padding-bottom: 80px;
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact-title h1{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
}
.contact-title p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.contact-details{
    margin-top: 24px;
}
.contact-details li{
    margin-top: 10px;
}
.contact-details i{
    font-size: 24px;
    padding-right: 14px;
}
.contact-details a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
}
.map iframe{
   border-radius: 10px;
   margin-top: 24px;
}
.socials{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}
.social-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}
.social-title h3{
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 300;
}
.social-icons{
    display: flex;
    gap: 14px;
}
.social-icons i{
    font-size: 24px;
}
.hline{
    height: 400px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.6);;
}
.send-message{
    width: 40%;
}
.send-message form{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.send-message input{
    height: 50px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
}
.send-message textarea{
    height: 200px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding-left: 20px;
    padding-top: 20px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
}
.send-message button{
    height: 50px;
    border: none;
    border-radius: 8px;
    background-color: rgb(230, 83, 60);
    color: #ffff;
    font-size: 18px;
    transition: 0.3s;
}
.send-message button:hover {
    background-color: transparent;
    color: #ffff;
    border: 2px solid white;
}
/* Mobile Version */
@media screen and (max-width: 576px){
    .contact{
        flex-direction: column;
    }
    .map iframe{
        width: 100%;
     }
    .hline{
        height: 2px;
        width: 80%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .send-message{
        width: 100%;
    }
}


/* Footer */
footer{
    background: rgb(26, 26, 26);
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    height: 246px;
    display: flex;
    justify-content: space-between;
}
.footer-logo{
    width: 443px;
}
.footer-links{
    display: flex;
    gap: 150px;
}
.footer-logo h1{
    font-size: 70px;
    font-weight: 800;
    color: rgb(230, 83, 60);
    font-style: italic;
}
.footer-logo p{
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}
.footer-links h1{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 20px;
}
.footer-links li{
    list-style-type: none;
    margin-top: 20px;
}
.footer-links li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 23px;
    font-weight: 400;
}
footer hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 82px;
}

.copyright p{
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding-top: 35px;
}
/* Mobile Version */
@media screen and (max-width: 576px){
    footer{
        height: 980px;
    }
    .footer{
        flex-direction: column;
        height: auto;
    }
    .footer-logo{
        width: 100%;
    }
    .footer-links{
        flex-direction: column;
        gap: 30px;
        margin-top: 30px;
    }
}